<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- sqlSession : setter 주입 -->
	<bean id="SqlSessionTemplate"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="SqlSessionFactory"></constructor-arg>
	</bean>

	<!-- SqlSession setup for MyBatis Database Layer -->
	<bean id="SqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
			value="classpath:/ants/com/config/sqlmap/mybatis-config.xml" />
		<property name="mapperLocations"
			value="classpath:/ants/com/config/sqlmap/mappers/*.xml" />
	</bean>
</beans>