<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
  	<typeAlias type="ants.com.member.model.MemberVo" alias="MemberVo"/>
  </typeAliases>

  <mappers>
    <mapper resource="ants/com/config/sqlmap/mappers/member.xml"/>
  </mappers>
</configuration>